
<table {
  widht: 100%;
  border-collapse: collapse; /* remove espaço entre as bordas */
}
th,td {
  border: 2px solid black; /* adicione bordas as celulas */
  padding: 8px;
  text-align: center;

}
  th {
  background-color: brown; /* cor de fundo para cabeçalho */
  color: white; /* cor do texto para cabeçalho */

  }

  h1 {
  color: brown;
  }

  h2 {
  color: saddlebrown;

  }

  p{
  color: sandybrown;
  }

  body, html {
    margin: 0;
    padding: 0;
  }
